<h1><%= @artist.artist_name %></h1>

<%= image_tag @artist.image_url %>

<h2> List of Songs by <%= @artist.artist_name %></h2>

<% if @artist.songs.any? %>
  <ul>
    <% @artist.songs.each do |song| %>
      <p><%= song.song_name %>
      <%= link_to "Delete Song", artist_song_path(@artist.id, song.id), method: :delete, data: {confirm: "Are you sure you want to delete this song?"} %></p>
      <% end %>
  </ul>
<% else %>
  <p>There are no songs in this artist.</p>
<% end %>
<hr>

<%= link_to "Click to add new song", new_artist_song_path(@artist.id) %>

<hr>

<%= link_to "Click to delete artist", artist_path(@artist.id),  method: :delete, data:{confirm:"Are you sure you want to delete this artist and all their songs?"} %>
